<section class="header">
  <h1>{{ title }}</h1>
  <h2>{{ presupuestoTotal | currency : 'COP' : '$' : '1.2-2' }}</h2>
  <div class="info-ingreso-total">
    <p>INGRESOS</p>
    <p>{{ ingresoTotal | currency : 'COP' : '$' : '1.2-2' }}</p>
  </div>
  <div class="info-egreso-total">
    <p>EGRESOS</p>
    <p>
      {{ egresoTotal | currency : 'COP' : '$' : '1.2-2' }} <span>{{ porcentajeTotal | percent }}</span>
    </p>
  </div>
</section>
