p,
ul,
ol,
dl {
  margin: 0;
  padding: 0;
}

.header {
  background-image: url('../../assets/images/textura_fondo.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em;
  grid-area: 5px;
}

.info-ingreso-total,
.info-egreso-total {
  display: flex;
  width: 20%;
  justify-content: space-between;
  padding: 1em 1em;
  align-items: center;
  background-color: #00acbb;
  font-weight: 800;
}

.info-egreso-total {
  background-color: #ff4329;
  margin-top: 1em;
}
.info-ingreso-total {
  background-color: #00acbb;
}
