<div class="info-egreso">
  <h2>EGRESOS</h2>
  <ul>
    <li *ngFor="let egreso of egresos; index as i" class="container-egreso" [ngClass]="{ bcg_egreso: i % 2 === 0 }">
      <p>{{ egreso.description }}</p>
      <p>
        -{{ egreso.valor | currency : 'COP' : '$' : '1.2-2' }} <b>{{ calcularPorcentaje(egreso) | percent }}</b
        ><span (click)="eliminarRegistro(egreso)">x</span>
      </p>
    </li>
  </ul>
</div>
