.form-container {
  background-color: #f8f6f8;
}
.border_color_menos:focus {
  border-color: red !important;
}
.border_color_mas:focus {
  border-color: green;
}
.background_color_menos {
  background-color: red;
  font-weight: 600;
  color: #fff;
}
