<section class="form-container py-3">
  <form class="form row w-50 m-auto" (ngSubmit)="f.form.valid && agregarValor()" #f="ngForm">
    <div class="col-1 w-auto">
      <select name="menu" id="menu" class="form-control border_color_mas" (change)="tipoOperacion($event)" [ngClass]="{ border_color_menos: tipo === 'egresoOperacion' }">
        <option value="ingresoOperacion" selected>+</option>
        <option value="egresoOperacion">-</option>
      </select>
    </div>
    <div class="col-6">
      <input
        [ngClass]="{ border_color_menos: tipo === 'egresoOperacion' }"
        class="form-control col border_color_mas"
        type="text"
        name="description"
        id="description"
        placeholder="Agregar Description"
        [(ngModel)]="description"
        required
      />
    </div>
    <div class="col-3">
      <input
        [ngClass]="{ border_color_menos: tipo === 'egresoOperacion' }"
        class="form-control col border_color_mas"
        type="text"
        name="valor"
        id="valor"
        placeholder="Valor"
        [(ngModel)]="valor"
        required
      />
    </div>
    <button type="submit" [ngClass]="{ background_color_menos: tipo === 'egresoOperacion' }" class="btn btn-success col-1">enviar</button>
  </form>
</section>
