<div class="info-ingreso">
  <h2>INGRESOS</h2>
  <ul>
    <li *ngFor="let ingreso of ingresos; index as i" class="container-ingreso" [ngClass]="{ bcg_ingreso: i % 2 === 0 }">
      <p>{{ ingreso.description }}</p>
      <p>{{ ingreso.valor | currency : 'COP' : '$' : '1.2-2' }} <span (click)="eliminarRegistro(ingreso)">X</span></p>
    </li>
  </ul>
</div>
