.info-ingreso {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 40vw;
  ul {
    width: 100%;
    .container-ingreso {
      width: 100%;
      display: flex;
      justify-content: space-between;
      padding: 1em;
      box-shadow: 0 2px rgba(0, 0, 0, 0.1);
      span {
        cursor: pointer;
        border: 0.1em solid #000;
        border-radius: 50%;
        margin-left: 0.2em;
        padding: 0.3em;
      }
    }
  }
}
.bcg_ingreso {
  background-color: #eee;
}
