<div class="container-fluid">
  <app-header [title]="title" [egresoTotal]="getEgresoTotal()" [ingresoTotal]="getIngresoTotal()" [presupuestoTotal]="getPresupuestoTotal()" [porcentajeTotal]="getPorcentajeTotal()"></app-header>
  <app-form></app-form>
  <app-details [ingresoTotal]="getIngresoTotal()"></app-details>
</div>
